:root {
    --font-family: "Comfortaa", serif;
    --bg-color: #e8f4f8;
    --text-color: #333;
    --white: #ffffff;
    --black: #000000;
    --gray: #808080;
    --light-gray: #717171;
    --red: red;
    --shadow-color: rgba(252, 25, 25, 0.263);
    --border-radius: 30px;
    --padding: 16px;
    --transition: 0.3s ease;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 20px var(--shadow-color);
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    width: fit-content;
}

h1 {
    color: var(--white);
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
    background-color: var(--red);
    padding: 30px;
    padding-top: 50px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-bottom: var(--padding);
}

label {
    color: var(--black);
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input {
    background-color: var(--white);
    border: none;
    border-bottom: 2px solid var(--gray);
    border-radius: 0;
    color: var(--light-gray);
    padding: var(--padding);
    transition: border-color var(--transition);
}

input:focus {
    border-color: var(--black);
    outline: none;
}

button {
    background-color: var(--white);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 16px;
    margin-left: 90px;
}

button:hover {
    background-color: var(--white);
    transform: scale(1.05);
}

.botones {
    padding-bottom: 20px;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: var(--red);
    display: flex;
    margin-top: 20px;
}
